@import "./base/variables";
@import "./base/reset";
@import "./base/typography";
@import "./layout/layout";

// import fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

body {
  font-size: $body-font-size;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  background-color: $header-blue;
}

.header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  width: 80%;
}

.hero {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  height: 528px;
  width: 100%;

  @include respond(desktop) {
    background-image: url("../images/desktop/image-header.jpg");
    height: 800px;
  }
}

.navbar > a {
  list-style: none;
  color: $white;
  text-decoration: none;
  display: none;

  @include respond(desktop) {
    display: inline-block;
  }
}

.hamburger {
  @include respond(desktop) {
    display: none;
  }
}

.hero--header {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  letter-spacing: 6px;
  color: $white;
  margin-bottom: 10rem;
}

// section with image and text box

.btn {
  border: none;
  background-color: none;
  position: relative;
  color: black;
  z-index: 100;
  width: max-content;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  // box-shadow: 0px 0px 15px 0px #000000;
}

.btn::after {
  position: absolute;
  content: "";
  top: 12px;
  width: 110%;
  left: 0;
  background-color: $yellow;
  opacity: 0.4;
  height: 50%;
  border-radius: 12px;
  z-index: -1;
  // box-shadow: -1px 31px 5px 0px rgba(0, 0, 0, 0.75);
}

.reverse {
  flex-direction: column-reverse;

  @include respond(desktop) {
    flex-direction: row;
  }
}

.btn::selection {
  background: #fcf113;
}

.image {
  background-image: url("../images/mobile/image-transform.jpg");
  height: 50%;
  width: 100%;
  background-size: cover;

  @include respond(desktop) {
    background-image: url("../images/desktop/image-transform.jpg");
    width: 50%;
    height: 100%;
  }
}

// row/box styling

.text-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: white;

  @include respond(desktop) {
    width: 50%;
    height: 100%;
    padding: 0;
  }
}

.reversed {
  flex-direction: row-reverse;
}

.inner-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1.5rem;

  @include respond(desktop) {
    width: 80%;
    height: 60%;
    padding: 0;
  }
}

.white {
  background: $white;
}

.text-container h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: $very-dark-grayish-blue;
  text-align: center;
}

.text-container p {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: $grayish-blue;
  line-height: 140%;
}

.image.glass {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.bg-image {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: end;
  height: 600px;
}

.text-container.small {
  height: 30%;
}

.bg-image.orange {
  background-image: url("../images/mobile/image-photography.jpg");
}

.testimonial {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem;
  height: 290px;

  & img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  & p {
    text-align: center;
    line-height: 140%;
    color: $very-dark-grayish-blue;
  }

  & h5 {
    font-family: "Fraunces", sans-serif;
  }

  & span {
    color: $grayish-blue;
    font-size: 0.8rem;
  }
}

h2.headline {
  text-align: center;
  padding: 1rem;
}

.testimonials {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: min-content;
}

.text-container .graphic {
  color: $graphic-text;
}

.text-container .photography {
  color: $photography-text;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery > .img {
  width: 50%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-1 {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}

.gallery-2 {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}

.gallery-3 {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}

.gallery-4 {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

footer {
  background: $footer;
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
  color: $dark-cyan;
}

footer > img {
  width: 170px;
  height: 15%;
  fill: $dark-cyan;
}

.test g,
.test path {
  fill: $dark-cyan;
}

.footer-nav a {
  list-style: none;
  text-decoration: none;
  color: $dark-cyan;
}

.footer-nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.social-icons {
  display: flex;
  width: 50%;
  justify-content: space-between;

  & a img {
    width: 20px;
    height: 20px;
    color: white;
  }
}
