.game {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--area {
  width: 327px;
  height: 327px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.game--area.small {
  grid-template-columns: repeat(4, 1fr);
}
