@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');

$font-primary: 'Poppins', sans-serif;

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

p {
    margin: 20px 0;
}