/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.google.com/specimen/Kumbh+Sans");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #19a2ae;
  background-position: -10rem -30rem, 70rem 30rem;
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

.container {
  width: 100%;
  height: 100%; }

.container:before {
  background-image: url(../images/bg-pattern-top.svg);
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: -100px -50%; }
  @media only screen and (min-width: 110em) {
    .container:before {
      background-position: -20vw -50vh; } }

.container:after {
  background-image: url(../images/bg-pattern-bottom.svg);
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: 200px 150%; }
  @media only screen and (min-width: 110em) {
    .container:after {
      background-position: 150% 50vh; } }

h2,
h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: black; }

.profile-card {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 350px;
  height: 374px;
  overflow: hidden;
  display: inline-block; }
  @media only screen and (min-width: 110em) {
    .profile-card {
      width: 20%; } }
  .profile-card--top {
    height: 140px;
    background: url("../images/bg-pattern-card.svg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .profile-card--bottom {
    height: 184px;
    padding-top: 50px;
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center; }
    .profile-card--bottom span {
      color: lightgray; }

.profile--name {
  padding: 10px;
  height: 75px; }
  .profile--name p {
    color: #969696;
    font-size: 1.2rem; }

.profile--image img {
  border-radius: 50%;
  transform: translate(135px, 100px);
  width: 80px;
  height: 80px;
  border: 5px solid white; }

.social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89px; }
  .social-box h5 {
    padding-bottom: 5px; }
  .social-box span {
    font-size: 10px;
    text-transform: uppercase;
    color: #969696;
    letter-spacing: 3px; }

.profile--social {
  border-top: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
