@import "../base/colours";

.btn {
  background-color: $bright-blue;
  width: 12vw;
  height: 40px;
  color: white;
  letter-spacing: 2px;
  font-size: 13px;
  border-radius: 3%;
  border: transparent;
}
