@import '_variables';

@import url("https://fonts.google.com/specimen/Kumbh+Sans");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-color: $dark-cyan;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-position: -10rem -30rem, 70rem 30rem;
  background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.profile-card {
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
  border-radius: 20px;
  // display: grid;
  // grid-gap: 2rem;
  // grid-template-rows: 1fr 15rem 5rem;
  // position: relative;
  width: 350px;
  height: 374px;
  overflow: hidden;
  display: inline-block;

  // &--top img {
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
  // width: 100%
  // }

  &--top {
    height: 140px;
    background: url('../images/bg-pattern-card.svg');
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &--bottom {
    height: 184px;
    // padding: 20px;
    padding-top: 50px;
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

    & span {
      color: lightgray;
    }
  }
}
.profile--name {
  padding: 10px;
  height: 75px;

  p {
    color: $dark-gray;
    font-size: 1.2rem;
  }
}

.profile--image img {
    border-radius: 50%;
    transform: translate(135px, 100px);
    width: 80px;
    height: 80px;
    border: 5px solid white;
  }

.social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89px;

  h5 {
    padding-bottom: 5px;
  }

  span {
    font-size: 10px;
    text-transform: uppercase;
    color: $dark-gray;
    letter-spacing: 3px;
  }
}

.profile--social {
  border-top: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
// .profile-card--bottom {
//   display: flex;
//   flex-direction: column;
// }

// .profile--name {
//   margin-top: 15%
// }

// .profile--image img {
//   border: 5px solid white;
//   border-radius: 50%;
//   position: absolute;
//   // margin-bottom: 500px;
//   top: 52.5%;
//   left: 50%;
//   width: 30%;
//   transform: translate(-50%, -100%);
// }