@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: hsl(234, 14%, 74%);
  font-size: 12px;
  background-color: hsl(240, 78%, 98%);
}

.price {
  font-size: 62px;
  color: var(--grayish-blue);
  font-weight: 800;
}

:root {
  --light-blue: hsl(236, 72%, 79%);
  --dark-blue: hsl(237, 63%, 64%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 34px;
  margin: 0 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-choice {
  font-weight: 700;
  font-size: 20px;
}

header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 550px;
  width: 24vw;
  box-shadow: 0 13px 13px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: white;
  text-align: center;
  align-items: center;
}

.card-features {
  list-style: none;
  padding: 25px;
}

.feature {
  font-size: 1.2rem;
  color: var(--grayish-blue);
  font-weight: 700;
  border-top: 1px solid rgba(109, 113, 141, 0.4);
  display: inline-block;
  padding-top: 17px;
  width: 100%;
  padding-bottom: 17px;
}

.card-features .feature:last-child {
  border-bottom: 1px solid rgba(146, 149, 167, 0.4);
}

.card-features .feature + .white:last-child {
  border-bottom: 1px solid rgba(172, 158, 158, 0.4);
}

.feature.white {
  color: white;
  border-color: rgba(180, 182, 201, 0.6);
}

/* .white {
  color: white;
} */

.card.big {
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  box-shadow: none;
  height: 600px;
  width: 350px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.price span {
  background-color: black;
}

.price {
  color: var(--dark-grayish-blue);
}

.white {
  color: white;
}

/* button */

.btn {
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding-left: 62px;
  padding-right: 62px;
  max-width: 80%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 6px;
  box-shadow: 0 19px 80px rgba(0, 0, 0, 0.1), 0 15px 90px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: hsl(237, 63%, 64%, 0.8);
}

.btn.white {
  background-image: none;
  color: var(--grayish-blue);
}

.card-title {
  font-size: 22px;
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  color: hsl(232, 13%, 33%);
}

.currency {
  padding-right: 12px;
  font-size: 31px;
  font-weight: 700;
  display: inline;
  color: hsl(232, 13%, 33%);
}

.currency.white {
  color: white;
}
