@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
@import 'variables';
@import 'reset';
@import 'mixins';

body {
  background-color: $light-grayish-blue;
  margin: 0;
  height: 100vh;
  color: $desaturated-grayish-blue;
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  
  @include respond(desktop){
  }
}

h2 {
  font-weight: 600;
  color: #48556A;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.25px;

  @include respond(desktop) {
    line-height: 28px;
    font-size: 1.3rem;
    letter-spacing: 0.25px;
  }
}

.container {
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 512px;
  background-color: white; 
  border-radius: 10px;
  
  @include respond(desktop){
    -webkit-box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);
    -moz-box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);
    box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);
    grid-template-columns: 285px 445px;
    width: 730px;
    height: 280px;
  }
}

  .description {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 312px;


    @include respond(desktop){
      max-width: 365px;
      height: 216px;
    }
  }

  .profile {
    display: grid;
    grid-template-columns: 20% 75% 5%;
    align-items: center;
    height: 40px;

    @include respond(desktop){
          grid-template-columns: 15% 70% 10%;
          height: auto;
    }

    &-icon {
      justify-self: end;
      background-color: $light-grayish-blue; 
      border-radius: 50%; 
    }

    &-icon:hover {
      background-color: blue;
    }

    &-column {
      line-height: 20px;

      h4 {
        font-weight: 900;
        color: $very-dark-grayish-blue
      }
    }
  }

  .avatar {
    @include respond(desktop){
    }

    border-radius: 50%;
    height: 100%;
    justify-self: start;
    width: 70%;
  }

  .arrow {
    color: white; 
    // height: 50%; 
    // width: 20%;
    padding: 10px 12px;
    object-fit: contain;
  }

  .drawer {
    width: 327px;
    height: 200px;
  }
  .drawer img {
    border-radius: 10px 10px 0 0;

    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include respond(desktop){
      border-radius: 10px 0 0 10px;
    }
  }

  .text {
    font-size: 13px;
    font-weight: 500;
    color: #6E8098;
    letter-spacing: 0.12px;
    line-height: 20px;
  }

  .tooltip {
    background-color: $very-dark-grayish-blue;
	  border-radius: 0 0 10px 10px;
	  position: relative;
  }

  .social-icons {
    padding: 25px 0;
		width: 100%;
		max-width: 375px;
		margin: auto;
  }

  .icons {
			display: flex;
			h5 {
				color: $grayish-blue;
				font-weight: 400;
				font-size: 1rem;
				letter-spacing: 5px;
				padding-right: 15px;
				padding-top: 0.4rem;
			}
			img {
				max-width: 35px;
				object-fit: contain;
				padding-right: 15px;
			}
		}

    .icons-share {
      background-color: $desaturated-grayish-blue;
      border-radius: 10px;
      padding: 10px 12px;
      position: absolute;
      right: 3rem;
      top: 1.5rem;
      
      img {
        width: 20px;
        filter: grayscale(200%)
      }
    }