@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
@import 'variables';
@import 'reset';

body {
  margin: 0;
  font-size: 13px;
  display: flex;
  height: 100vh;
  color: $desaturated-grayish-blue;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  background-color: $light-grayish-blue
}

h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #48556A;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.container {
  display: grid;
  grid-template-columns: 285px 445px;
  align-items: center;
  justify-content: center;
  width: 730px;
  height: 280px;
  // max-height: 350px;
  // margin: 10em auto;
  background-color: white; 
border-radius: 10px;
-webkit-box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);
-moz-box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);
box-shadow: 3px 3px 9px 3px rgba(219,210,219,0.63);}

  .description {
    padding: 32px 40px;
    max-width: 365px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .profile {
    display: grid;
    grid-template-columns: 15% 70% 10%;
    align-items: center;

    &-icon {
      justify-self: end;
      background-color: $light-grayish-blue; 
      border-radius: 50%; 
    }

    &-icon:hover {
      background-color: blue;
    }
  }

  .avatar {
    border-radius: 50%;
    height: 100%;
    justify-self: start;
    width: 70%;
  }

  .arrow {
    color: white; 
    // height: 50%; 
    // width: 20%;
    padding: 10px 12px;
    object-fit: contain;
  }

  .drawer {
    width: 280px;
    height: 280px;
  }
  .drawer img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .text {
    font-size: 13px;
    font-weight: 500;
    color: #6E8098;
    letter-spacing: 0.12px;
    line-height: 20px;
  }

  .tooltip {
    background-color: $very-dark-grayish-blue;
	border-radius: 0 0 10px 10px;
	position: relative;
  }

  .social-icons {
    padding: 25px 0;
		width: 80%;
		max-width: 375px;
		margin: auto;
  }

  .icons {
			display: flex;
			h5 {
				color: $grayish-blue;
				font-weight: 400;
				font-size: 1rem;
				letter-spacing: 5px;
				padding-right: 15px;
				padding-top: 0.4rem;
			}
			img {
				max-width: 35px;
				object-fit: contain;
				padding-right: 15px;
			}
		}

    .icons-share {

      background-color: $desaturated-grayish-blue;
      border-radius: 10px;
      padding: 10px 12px;
      position: absolute;
      right: 3rem;
      top: 1.5rem;
      
      img {
        width: 20px;
        filter: grayscale(200%)
      }
    }