@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
@import "variables";
@import "reset";
@import "mixins";

body {
  background-color: $light-grayish-blue;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: $desaturated-grayish-blue;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(desktop) {
    font-size: 13px;
  }
}

.description-header {
  font-weight: 600;
  color: #48556a;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.25px;

  @include respond(desktop) {
    line-height: 28px;
    font-size: 1.3rem;
  }
}

article.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 512px;
  border-radius: 10px;
  background: white;

  @include respond(desktop) {
    justify-content: center;
    -webkit-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
    -moz-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
    box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
    width: 730px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  height: 312px;
  justify-content: space-around;

  @include respond(desktop) {
    height: 216px;
  }
}

.description-text {
  color: #6e8098;
  line-height: 20px;
  letter-spacing: 0.12px;
  font-weight: 500;
  font-size: 13px;

  @include respond(desktop) {
  }
}

.profile {
  font-size: 13px;
  display: grid;
  grid-template-columns: 20% 75% 5%;
  align-items: center;

  @include respond(desktop) {
    grid-template-columns: 15% 70% 10%;
    height: 40px;
    height: auto;
  }

  &-icon {
    border-radius: 50%;
    justify-self: end;
    background-color: $light-grayish-blue;
    @include respond(desktop) {
    }
  }

  &-icon:hover {
    background-color: $very-dark-grayish-blue;
  }

  &-details {
    line-height: 20px;

    h4 {
      font-weight: 900;
      color: $very-dark-grayish-blue;
    }
  }
}

.profile-avatar {
  @include respond(desktop) {
  }

  border-radius: 50%;
  height: 100%;
  justify-self: start;
  width: 70%;
}

.share {
  color: white;
  // height: 50%;
  // width: 20%;
  padding: 10px 12px;
  object-fit: contain;
}

.drawer {
  background-image: url("../images/drawers.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;

  @include respond(desktop) {
    height: 100%;
    min-width: 285px;
  }
}

.tooltip {
  display: none;
  z-index: 400;
  position: absolute;
  @include respond(desktop) {
    left: 59.5%;
    margin-top: 35px;
  }
}
.first {
  width: 327px;
  background-color: $very-dark-grayish-blue;
  margin-right: 20px;

  @include respond(desktop) {
    margin-right: 0px;
    width: 248px;
    height: 67px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
  }

  h5 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1rem;
  }
}

.arrow {
  @include respond(desktop) {
    height: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.arrow-middle {
  @include respond(desktop) {
    background-color: $very-dark-grayish-blue;
    height: 100%;
    width: 55px;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }
}

.active {
  display: inline-block;
}

// .first img {
//   padding: 25px 0;
//   width: 100%;
//   max-width: 375px;
//   margin: auto;
// }

// .first {
//   display: flex;

//   h5 {
//     color: $grayish-blue;
//     font-weight: 400;
//     font-size: 1rem;
//     letter-spacing: 5px;
//     padding-right: 15px;
//     padding-top: 0.4rem;
//   }
//   img {
//     max-width: 35px;
//     object-fit: contain;
//   }
// }

// .icons-share {
//   background-color: $desaturated-grayish-blue;
//   border-radius: 10px;
//   padding: 10px 12px;
//   position: absolute;
//   right: 3rem;
//   top: 1.5rem;

//   img {
//     width: 20px;
//     filter: grayscale(200%);
//   }
// }

.first img {
  width: 20px;
  height: 20px;
}
