@import 'base/reset';
@import 'base/typography';
@import 'base/colours';
@import 'components/card';
@import 'components/slider';

.container {
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.hidden {
  display: none;
}

.shown {
  display: block
}