@import 'base/reset';
@import 'base/typography';
@import 'base/colours';
@import 'components/card';
@import 'components/slider';

body {
  margin: 0;
  font-size: 2rem;
  font-family: $primary;
  height: 100vh;
}


.container {
  background: url('../images/pattern-bg.svg') no-repeat 70% 30%;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
}

.footer {
  height: 20vh;
  background: url('../images/pattern-curve.svg') no-repeat 0 90%;
}

.hidden {
  display: none;
}

.shown {
  display: block
}