// Colours
$primary: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);
$footer: rgb(158, 210, 198);
$header-blue: rgb(103, 191, 251);

$dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// font size:
$body-font-size: 18px;
