@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #ecf2f8;
  margin: 0;
  height: 100vh;
  color: #6d7f97;
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px; }

h2 {
  font-weight: 600;
  color: #48556A;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.25px; }
  @media only screen and (min-width: 110em) {
    h2 {
      line-height: 28px;
      font-size: 1.3rem;
      letter-spacing: 0.25px; } }

.container {
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 512px;
  background-color: white;
  border-radius: 10px; }
  @media only screen and (min-width: 110em) {
    .container {
      -webkit-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      -moz-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      grid-template-columns: 285px 445px;
      width: 730px;
      height: 280px; } }

.description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 312px; }
  @media only screen and (min-width: 110em) {
    .description {
      max-width: 365px;
      height: 216px; } }

.profile {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  align-items: center;
  height: 40px; }
  @media only screen and (min-width: 110em) {
    .profile {
      grid-template-columns: 15% 70% 10%;
      height: auto; } }
  .profile-icon {
    justify-self: end;
    background-color: #ecf2f8;
    border-radius: 50%; }
  .profile-icon:hover {
    background-color: blue; }
  .profile-column {
    line-height: 20px; }
    .profile-column h4 {
      font-weight: 900;
      color: #48556a; }

.avatar {
  border-radius: 50%;
  height: 100%;
  justify-self: start;
  width: 70%; }

.arrow {
  color: white;
  padding: 10px 12px;
  object-fit: contain; }

.drawer {
  width: 327px;
  height: 200px; }

.drawer img {
  border-radius: 10px 10px 0 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  @media only screen and (min-width: 110em) {
    .drawer img {
      border-radius: 10px 0 0 10px; } }

.text {
  font-size: 13px;
  font-weight: 500;
  color: #6E8098;
  letter-spacing: 0.12px;
  line-height: 20px; }

.tooltip {
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  position: relative; }

.social-icons {
  padding: 25px 0;
  width: 100%;
  max-width: 375px;
  margin: auto; }

.icons {
  display: flex; }
  .icons h5 {
    color: #9eafc2;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 5px;
    padding-right: 15px;
    padding-top: 0.4rem; }
  .icons img {
    max-width: 35px;
    object-fit: contain;
    padding-right: 15px; }

.icons-share {
  background-color: #6d7f97;
  border-radius: 10px;
  padding: 10px 12px;
  position: absolute;
  right: 3rem;
  top: 1.5rem; }
  .icons-share img {
    width: 20px;
    filter: grayscale(200%); }
