@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #ecf2f8;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 110em) {
    body {
      font-size: 13px; } }

.description-header {
  font-weight: 600;
  color: #48556a;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.25px; }
  @media only screen and (min-width: 110em) {
    .description-header {
      line-height: 28px;
      font-size: 1.3rem; } }

article.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 504px;
  border-radius: 10px;
  background: white; }
  @media only screen and (min-width: 110em) {
    article.container {
      justify-content: center;
      -webkit-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      -moz-box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      box-shadow: 3px 3px 9px 3px rgba(219, 210, 219, 0.63);
      width: 730px;
      height: 280px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }

.description {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  height: 312px;
  justify-content: space-around; }
  @media only screen and (min-width: 110em) {
    .description {
      padding: 32px;
      height: 216px; } }

.description-text {
  color: #6e8098;
  line-height: 20px;
  letter-spacing: 0.12px;
  font-weight: 500;
  font-size: 13px; }

.profile {
  font-size: 13px;
  display: grid;
  grid-template-columns: 20% 75% 5%;
  align-items: center; }
  @media only screen and (min-width: 110em) {
    .profile {
      grid-template-columns: 15% 70% 10%;
      height: 40px;
      height: auto; } }
  .profile-icon {
    border-radius: 50%;
    justify-self: end;
    background-color: #ecf2f8; }
  .profile-icon:hover {
    background-color: #48556a; }
  .profile-details {
    line-height: 20px; }
    .profile-details h4 {
      font-weight: 900;
      color: #48556a; }

.first img {
  width: 20px;
  height: 20px; }

@media only screen and (min-width: 110em) {
  .profile-icon-share {
    display: none; } }

.profile-avatar {
  border-radius: 50%;
  height: 100%;
  justify-self: start;
  width: 70%; }

.drawer {
  background-image: url("../images/drawers.jpg");
  height: 200px;
  width: 100%;
  background-size: cover; }
  @media only screen and (min-width: 110em) {
    .drawer {
      height: 100%;
      min-width: 285px; } }

.tooltip {
  display: none;
  z-index: 400;
  position: absolute; }
  @media only screen and (min-width: 110em) {
    .tooltip {
      left: 59.5%;
      margin-top: 35px; } }

.first {
  width: 327px;
  background-color: #48556a;
  margin-top: 435px;
  height: 67px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border-radius: 0 0 12px 12px; }
  .first.profile-icon {
    justify-self: left; }
  @media only screen and (min-width: 110em) {
    .first {
      margin-right: 0px;
      width: 248px;
      height: 67px;
      margin-top: 0;
      border-radius: 12px;
      grid-template-columns: 2fr 1fr 1fr 1fr; } }
  .first h5 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1rem; }

@media only screen and (min-width: 110em) {
  .arrow {
    height: 13px;
    width: 100%;
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 110em) {
  .arrow-middle {
    background-color: #48556a;
    height: 100%;
    width: 55px;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%); } }

.active {
  display: inline-block; }
