@import "base/reset";
@import "base/typography";
@import "base/colours";
@import "components/buttons";
@import "components/forms";

.flex {
  display: flex;
  justify-content: center;
}

.flex-columns {
  display: flex;
  align-items: center;
}

.container {
  width: 85vw;
  margin: 1.5rem auto;
  height: 60vh;
}

header {
  height: 6vh;
}

.navbar-list a {
  text-decoration: none;
  left: 0;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.hero-box {
  width: 50%;
}

.illustration-image-big {
  width: 100%;
}

.margin-top-large {
  margin-top: 7rem;
}

.background-image {
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 10.5vh;
  padding-bottom: 10vh;
  margin: 0;
}

.card {
  -webkit-box-shadow: 10px 10px 32px 2px rgba(133, 119, 133, 1);
  -moz-box-shadow: 10px 10px 32px 2px rgba(133, 119, 133, 1);
  box-shadow: 10px 10px 32px 2px rgb(139, 131, 139);
  width: 40%;
  padding: 30px;
  margin-left: 20px;
}

.card-text {
  font-size: 12px;
  text-align: justify;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.person {
  display: flex;
  width: 100%;
}

.access {
  background-color: $desaturated-blue;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 5.5vh;
  padding-bottom: 5vh;
  margin: 0;
  color: white;
  height: 20vh;
}

.access-box-right {
  padding: 5vh;
}

.has-margin-top {
  margin-top: 2vh;
}

.has-padding-bottom {
  padding-bottom: 2vh;
}

.has-text-white {
  color: white;
}

.footer {
  background-color: $dark-blue;
}

.small-p-left {
  padding-left: 10px;
}

.space-evenly {
  justify-content: space-between;
}

ul li {
  padding-bottom: 20px;
}

.inverted-logo {
  color: white;
}

.navbar-list li {
  padding-left: 5vw;
}

.navbar-list li a {
  color: $light-gray;
}

.small {
  height: 6vh;
}
