@import "base/reset";
@import "base/typography";
@import "base/colours";
@import "components/buttons";
@import "components/forms";

.flex {
  display: flex;
  justify-content: center;
}

.flex-columns {
  display: flex;
  align-items: center;
}

.container {
  width: 85vw;
  margin: 1.5rem auto;
  height: 60vh;
}

header {
  height: 15vh;
}

.navbar-list a {
  text-decoration: none;
  left: 0;
}

.space-between {
  justify-content: space-between;
}

.hero-box {
  width: 50%;
}

.illustration-image-big {
  width: 100%;
}

.margin-top-large {
  margin-top: 7rem;
}

.background-image {
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
