/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.card {
  width: auto;
  margin: auto;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column-reverse; }

.card-box {
  display: flex;
  flex-direction: column; }

.card-box.right {
  width: 327px;
  height: 308px;
  background: url("../../images/pattern-bg.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

.card-box.left {
  width: 327px;
  height: 228px;
  justify-content: space-around;
  align-items: center; }

.card-box.left {
  background: url("../../images/pattern-quotes.svg") no-repeat 10% 0;
  background-position: top; }

.card-box img {
  width: 254px;
  height: 253px; }

.card-text {
  line-height: 25px;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  padding-top: 20px; }

.card-username {
  padding-top: 20px;
  width: 145px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px; }

.card-username span {
  font-weight: 100; }

.slider {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 14px;
  margin-top: -20px;
  height: 5vh;
  width: 80px;
  -webkit-box-shadow: -2px 0px 42px 10px #756675;
  -moz-box-shadow: -2px 0px 42px 10px #756675;
  box-shadow: -2px 0px 42px 10px #756675;
  border: none; }
  .slider-button {
    background-color: transparent;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    z-index: 100;
    border: none; }
  .slider-button.next {
    background-image: url("../../images/icon-next.svg"); }

.slider-button.previous {
  background-image: url("../../images/icon-prev.svg"); }

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative; }

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative; }

.hidden {
  display: none; }
