body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: hsl(0, 0%, 100%);
}

.header {
  display: grid;
  padding-bottom: 150px;
  background-color: #f5f7ff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.header .social {
  padding: 20px;
}

.header .social h1 {
  font-weight: 700;
  font-size: 1.3rem;
}

.section-overview {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.section-box {
  background-color: hsl(227, 47%, 96%);
  width: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: blue;
  border-radius: 25%;
  margin: 15px;
  border-radius: 5px;
}

.facebook {
  border-top: 4px solid hsl(195, 100%, 50%);
}

.twitter {
  border-top: 4px solid hsl(203, 89%, 53%);
}

.instagram {
  border-top: 4px solid orange;
}

.youtube {
  border-top: 4px solid hsl(348, 97%, 39%);
}

.section-box-logo {
}

.section-followers-number {
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
  font-size: 3rem;
}

.section-followers-title {
  text-transform: uppercase;
  color: #63687e;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 6px;
}

.section-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  color: #1db489;
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.increase {
  color: #1db489;
}

.decrease {
  color: red;
}

.section-platform {
  display: flex;
  width: 38%;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.username {
  font-size: 0.8rem;
}

.logo-company {
  margin-right: 10px;
}

.container-small-overview {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 50px;
  height: 50vh;
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
}

.dashboard-container {
  border-radius: 5%;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 20vw;
  background-color: hsl(227, 47%, 96%);
  width: 25vw;
  margin-bottom: 40px;
  max-height: 15vh;
}

.dashboard-container-top {
  display: flex;
  justify-content: space-between;
  min-width: 15vw;
  align-items: center;
  padding: 25px 25px 12.5px 25px;
}

.dashboard-container-bottom {
  display: flex;
  justify-content: space-between;
  min-width: 15vw;
  align-items: baseline;
  padding: 12.5px 25px 25px 25px;
}

.info-counter {
  font-size: 2rem;
  font-weight: 700;
}
