/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");
@import url("https://fonts.google.com/specimen/Open+Sans");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #070439;
  line-height: 1.5;
  padding-bottom: 30px; }

p {
  line-height: 1.5;
  padding-bottom: 25px;
  width: 80%;
  text-align: justify; }

.btn {
  background-color: #3065f8;
  width: 12vw;
  height: 40px;
  color: white;
  letter-spacing: 2px;
  font-size: 13px;
  border-radius: 3%;
  border: transparent; }

input {
  width: 20vw;
  height: 35px; }

.flex {
  display: flex;
  justify-content: center; }

.flex-columns {
  display: flex;
  align-items: center; }

.container {
  width: 85vw;
  margin: 1.5rem auto;
  height: 60vh; }

header {
  height: 6vh; }

.navbar-list a {
  text-decoration: none;
  left: 0; }

.space-between {
  justify-content: space-between;
  align-items: center; }

.hero-box {
  width: 50%; }

.illustration-image-big {
  width: 100%; }

.margin-top-large {
  margin-top: 7rem; }

.background-image {
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 10.5vh;
  padding-bottom: 10vh;
  margin: 0; }

.card {
  -webkit-box-shadow: 10px 10px 32px 2px #857785;
  -moz-box-shadow: 10px 10px 32px 2px #857785;
  box-shadow: 10px 10px 32px 2px #8b838b;
  width: 40%;
  padding: 30px;
  margin-left: 20px; }

.card-text {
  font-size: 12px;
  text-align: justify;
  width: 100%; }

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.person {
  display: flex;
  width: 100%; }

.access {
  background-color: #585989;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 5.5vh;
  padding-bottom: 5vh;
  margin: 0;
  color: white;
  height: 20vh; }

.access-box-right {
  padding: 5vh; }

.has-margin-top {
  margin-top: 2vh; }

.has-padding-bottom {
  padding-bottom: 2vh; }

.has-text-white {
  color: white; }

.footer {
  background-color: #070439; }

.small-p-left {
  padding-left: 10px; }

.space-evenly {
  justify-content: space-between; }

ul li {
  padding-bottom: 20px; }

.inverted-logo {
  color: white; }

.navbar-list li {
  padding-left: 5vw; }

.navbar-list li a {
  color: #bfbfbf; }

.small {
  height: 6vh; }
