body, html {
 margin: 0;
 font-family: "Arial"
}

.header {
  display: grid;
  padding-bottom: 100px;
  background-color: #f5f7ff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.header .social {
  padding: 20px;
}

.header .social h1 {
  font-weight: 700;
  font-size: 1.3rem;
}

.section-box {
  background-color: hsl(227, 47%, 96%);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: blue;
  border-radius: 25%;
  margin: 30px auto;
  border-radius: 5px;
  border-top: 4px solid deepskyblue;
}

.section-box-logo {

}






@font-face {
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  font-family: Inter;
  overflow-x: hidden;
}

.dashboard {
  z-index: -1;
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  background-color: #f5f7ff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .social {
  padding: 20px;
}

.dashboard .social h1 {
  font-weight: 700;
  font-size: 1.3rem;
}

.dashboard .social p {
  color: #63687e;
  font-weight: 700;
}

.dashboard .social div {
  margin-top: 30px;
}

.dashboard .social div hr {
  border: 0.5px solid #63687e;
}

.dashboard .theme-toggle {
  padding: 0 20px 80px 20px;
}

.dashboard .theme-toggle .mode-container .mode-text {
  color: #63687e;
  font-weight: 700;
}

.dashboard .theme-toggle .mode-container .btn {
  margin-top: -5px;
  float: right;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 1;
  width: 100%;
  margin-top: -330px;
}

.overview-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
}

.facebook__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook__info img {
  margin: 7px;
}

.facebook__info span {
  margin: 8px;
  font-size: 14px;
}

.facebook__followers-status {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.facebook__followers-status img {
  margin: 7px;
}

.twitter {
  width: 185px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid #1ca0f2;
  margin-top: 200px;
}

.twitter__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.twitter__info img {
  margin: 7px;
}

.twitter__info span {
  margin: 8px;
  font-size: 14px;
}

.twitter__followers-status {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.twitter__followers-status img {
  margin: 7px;
}

.instagram {
  width: 200px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 5px solid transparent;
  -o-border-image: linear-gradient(to right, #fdc468 0%, #df4996 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
     border-image: linear-gradient(to right, #fdc468 0%, #df4996 100%);
  border-image-slice: 1;
  margin-top: 200px;
}

.instagram__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram__info img {
  margin: 7px;
}

.instagram__info span {
  margin: 8px;
  font-size: 14px;
}

.instagram__followers-status {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1db489;
  font-weight: 700;
}

.instagram__followers-status img {
  margin: 7px;
}

.youtube {
  width: 185px;
  text-align: center;
  margin: 30px auto;
  background-color: #f0f2fa;
  padding: 20px;
  border-radius: 5px;
  border-top: 4px solid #c4032a;
  margin-top: 200px;
}

.youtube__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtube__info img {
  margin: 7px;
}

.youtube__info span {
  margin: 8px;
  font-size: 14px;
}

.youtube__followers-status {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dc414c;
  font-weight: 700;
}

.youtube__followers-status img {
  margin: 7px;
}

.big-text {
  font-size: 60px;
  font-weight: 700;
  margin: 15px auto 0 auto;
}

.bold-text {
  font-weight: 700;
}

.faded-text {
  color: #63687e;
  font-weight: 700;
}

.followers {
  margin-top: -2px;
  font-size: 1rem;
  letter-spacing: 6px;
}

.followers .info p {
  float: left;
}

.followers .info span {
  float: right;
}

.overview-card {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  background-color: #f0f2fa;
  border-radius: 5px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overview-card .head span {
  float: left;
}

.overview-card .head img {
  float: right;
}

.overview-card .info {
  margin-top: 60px;
}

.overview-card .info .info-num {
  float: left;
}

.overview-card .info div .follower-status {
  float: right;
  padding: 5px;
  color: #1db489;
  font-weight: 700;
}

.overview-card .info div .follower-status img {
  margin: 3px;
}

.overview-card.red {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  background-color: #f0f2fa;
  border-radius: 5px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overview-card.red .head span {
  float: left;
}

.overview-card.red .head img {
  float: right;
}

.overview-card.red .info {
  margin-top: 60px;
}

.overview-card.red .info .info-num {
  float: left;
}

.overview-card.red .info div .follower-status {
  float: right;
  padding: 5px;
  color: #dc414c;
  font-weight: 700;
}

.overview-card.red .info div .follower-status img {
  margin: 3px;
}

.overview-card:nth-of-type(3) .info .info-num {
  margin-top: 6px;
  font-size: 2rem;
}

.overview-card:nth-of-type(3) .info div .follower-status {
  float: right;
  color: #1db489;
  font-weight: 700;
}

.overview-card:nth-of-type(3) .info div .follower-status img {
  margin: 2px;
}

.overview-header {
  padding: 18px 32px;
}

.overview-header h1 {
  color: #63687e;
  font-weight: 700;
}

.info-num {
  font-size: 40px;
  font-weight: 700;
}

.username {
  font-weight: 700;
  color: #63687e;
}

.btn {
  position: relative;
  top: 1px;
  background-color: #ddd;
  width: 50px;
  height: 18px;
  padding: 8px;
  border-radius: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.slider {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (min-width: 930px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .overview-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
  hr {
    display: none;
  }
  .dashboard {
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .dashboard .social h1 {
    font-size: 2rem;
  }
  .dashboard .theme-toggle {
    padding: 0 65px 150px 20px;
  }
  .dashboard .theme-toggle .mode-container {
    text-align: right;
  }
  .dashboard .theme-toggle .mode-container .mode-text {
    position: relative;
    top: -2px;
    color: #63687e;
    font-weight: 700;
  }
  .dashboard .theme-toggle .mode-container .btn {
    position: relative;
    top: 3px;
    margin-top: 48px;
    margin-left: 20px;
    float: none;
  }
}

@media screen and (max-width: 930px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram {
    margin-top: 10px;
    width: 50%;
  }
  .youtube {
    margin-top: 10px;
    width: 50%;
  }
  .twitter {
    margin-top: 10px;
    width: 50%;
  }
  .facebook {
    width: 50%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
  .dashboard .theme-toggle .mode-container .mode-text {
    color: #63687e;
    font-weight: 700;
  }
  .dashboard .theme-toggle .mode-container .btn {
    margin-left: 20px;
    position: relative;
    top: -2px;
    float: right;
  }
}

@media screen and (max-width: 400px) {
  .facebook {
    width: 72%;
  }
  .twitter {
    width: 72%;
  }
  .instagram {
    width: 72%;
  }
  .youtube {
    width: 72%;
  }
  .overview-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .overview-card {
    width: 80%;
  }
  .overview-card.red {
    width: 80%;
  }
  .card-container {
    margin-top: -260px;
  }
  .dashboard {
    padding-bottom: 50px;
  }
  .dashboard .social h1 {
    font-size: 1.3rem;
  }
  .dashboard .theme-toggle .mode-container .mode-text {
    color: #63687e;
    font-weight: 700;
  }
  .dashboard .theme-toggle .mode-container .btn {
    margin-left: 20px;
    position: relative;
    top: 0px;
    float: right;
  }
  .btn {
    background-color: #ddd;
    width: 40px;
    height: 15px;
    padding: 8px;
    border-radius: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .slider {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }
  .overview-header {
    text-align: left;
  }
  .overview-header h1 {
    font-size: 1.4rem;
    color: #63687e;
    font-weight: 700;
    padding: 0;
  }
}

.attribution {
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */

