.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boost {
  background-image: url("../public/images/bg-boost-mobile.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.line:before {
  content: "";
  width: 6px;
  position: absolute;
  height: 2rem;
  left: 9.2rem;
  top: -4rem;
  background: hsl(180, 66%, 49%);
}

.line:after {
  content: "";
  width: 6px;
  position: absolute;
  height: 2rem;
  left: 9.2rem;
  bottom: -2rem;
  background: hsl(180, 66%, 49%);
}

.logo-invert path {
  fill: green;
  background: green;
}

@media only screen and (min-width: 800px) {
  .boost {
    background-image: url("../public/images/bg-boost-desktop.svg");
  }

  .line:before {
    content: "";
    width: 2rem;
    position: absolute;
    height: 6px;
    left: -2rem;
    top: 6rem;
    background: hsl(180, 66%, 49%);
  }

  .line:after {
    content: "";
    width: 2rem;
    position: absolute;
    height: 6px;
    right: -2rem;
    top: 6rem;
    background: hsl(180, 66%, 49%);
  }
}
