.boost {
  background-image: url("../public/images/bg-boost-mobile.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.line:before {
  content: "";
  width: 6px;
  position: absolute;
  height: 2rem;
  left: 9.2rem;
  top: -4rem;
  background: hsl(180, 66%, 49%);
}

.line:after {
  content: "";
  width: 6px;
  position: absolute;
  height: 2rem;
  left: 9.2rem;
  bottom: -2rem;
  background: hsl(180, 66%, 49%);
}

.logo-invert path {
  fill: green;
  background: green;
}

.shortener {
  background-image: url("../public/images/bg-shorten-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 800px) {
  .boost {
    background-image: url("../public/images/bg-boost-desktop.svg");
  }

  .shortener {
    background-image: url("../public/images/bg-shorten-desktop.svg");
  }

  .line:before {
    content: "";
    width: 2rem;
    position: absolute;
    height: 6px;
    left: -2rem;
    top: 6rem;
    background: hsl(180, 66%, 49%);
  }

  .line:after {
    content: "";
    width: 2rem;
    position: absolute;
    height: 6px;
    left: 28.8rem;
    top: 6rem;
    background: hsl(180, 66%, 49%);
  }
}
