/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  font-size: 1.5rem; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5E54A4;
  color: white;
  font-weight: 300;
  text-align: center;
  border-radius: 12px;
  border: 0;
  padding: 1.25em 0;
  width: 100%;
  margin: 2em 0 1em 0;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.38); }

.signUpForm {
  background-color: white;
  color: #b9b6d3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  border-radius: 12px;
  box-shadow: 0px 15px 20px -15px grey; }

input {
  border: 1px solid #28263c17;
  border-radius: 5px;
  margin: 1em 0 0 0;
  padding: 1em 1em;
  width: 80%; }
  input.alert {
    border-color: #ff7a7a; }

.error {
  display: none; }

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: #ff7a7a;
  color: white;
  font-size: 16px; }

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem; }
