@import "base/reset";
@import "base/typography";
@import "base/colours";
@import "components/buttons";
@import "components/forms";

body {
  font-size: 13px;
}

// header and navbar
.nav {
  width: 85vw;
  margin: auto;
  display: flex;
}

.navbar-list li {
  padding-left: 5vw;
}
header .nav {
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding-top: 10px;
}

nav div img {
  width: 80px;
}

.navbar-list {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list li a {
  color: $desaturated-blue;
}

.navbar-list li a:hover {
  color: $bright-blue;
}

.navbar-list a {
  text-decoration: none;
}

// container reusable

.container {
  margin: auto;
  width: 100%;
}

.flex {
  width: 85%;
  margin: auto;

  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 2rem;

  & img {
    height: 40%;
    width: 80%;
    margin: auto;
  }
}

.text-area {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 1rem;
    line-height: 140%;
    padding-bottom: 2rem;
  }

  .text-align {
    text-align: left;
  }

  h2 {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    padding: 1.5rem 1rem;
  }

  .text-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: turquoise;
    line-height: 140%;
    padding: 0.4rem 0;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid green;
    margin-bottom: 3rem;

    h4 {
      font-size: 1rem;
      width: 90%;
    }

    div {
      width: 10%;
      align-self: flex-end;
    }
    img {
      width: 1.5rem;
    }
  }
}

.card {
  background: white;
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 1rem;

  -webkit-box-shadow: 5px 5px 32px 1px #8b838b;
  -moz-box-shadow: 5px 5px 32px 1px #8b838b;
  box-shadow: 5px 5px 32px 1px #8b838b;

  &-quotation img {
    width: 1rem;
    height: 1rem;
  }

  p {
    font-size: 0.8rem;
    text-align: justify;
    // margin: 0 1rem;
    line-height: 140%;
    padding-top: 0.8rem;
  }

  .person {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 0.6rem;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    div {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0.5rem;

      h3 {
        font-family: "Raleway, sans-serif";
        font-weight: 700;
        line-height: 140%;
      }

      span {
        font-size: 0.6rem;
      }
    }
  }
}

.bg-grey {
  background-image: url("../images/bg-curve-mobile.svg");
  width: 100%;
  height: 90px;
  display: block;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.bg-grey-color {
  background-color: #f8f8fe;
  margin-top: -45px;
}

.access {
  background: hsl(238, 22%, 44%);

  &-flex {
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;

    h1.has-text-white {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 600;
      color: white;
    }

    p {
      text-align: center;
      line-height: 140%;
      color: white;
      padding: 0 1rem 2rem 1rem;
      font-size: 1rem;
    }
  }
}

footer {
  background: hsl(243, 87%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  color: white;

  img {
    width: 10rem;
    height: 3.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
}

.about-list ul li,
.contact-list ul li {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.about-list,
.contact-list {
  padding-top: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-icon {
  width: 80%;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-top: 1rem;

  h4 {
    width: 100%;
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
  }
}

.footer-flex {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

input {
  width: 97%;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}

.social-icons ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0;

  li a i {
    font-size: 1rem;
    fill: white;
    color: white;
  }

  li a div {
    padding: 0.5rem;
    background: transparent;
    border-radius: 50%;
    border: 2px solid white;
    min-width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
  }
}
