@import '../base/colours';

.card {
  display: flex;
  width: 70vw;
  height: 50vh;

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  &-text {
      background: url('../../images/pattern-quotes.svg') no-repeat 10% 0;
  }

  //   &-text {
  //   background-color: lightblue;
  //   font-size: 2rem;
  //   color: $dark-blue
  // }

  &-image {
    width: 80%;
    height: auto
  }
}

