@import "base/reset";
@import "base/colours";
@import "base/typography";
@import "base/mixins";
@import "components/buttons";
@import "components/form";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: $red;
  color: white;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;

  @include respond(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-around;

  @include respond(desktop) {
    flex-direction: row;
    // margin: auto;
    // position: absolute;
    // background-color: aqua;
    width: 70%;
    height: 60%;
    justify-content: baseline;
    padding: 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include respond(desktop) {
    height: 100%;
    // flex-direction: row;
  }
}

.second {
  width: auto;
}

.first {
  // min-height: 40%;
  position: relative;
  padding: 3rem 0 2rem 0;
  text-align: center;
  width: auto;

  @include respond(desktop) {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    padding: 0;
    position: relative;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 140%;

    @include respond(desktop) {
      font-size: 3rem;
      width: auto;
      padding-left: 4rem;
    }
  }

  & p {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    line-height: 140%;

    @include respond(desktop) {
      // font-size: 3rem;
      width: auto;
      padding-left: 4rem;
      padding-right: 3rem;
    }
  }
}

.form-wrapper {
  // width: 90%;
  // background: red;
}

.form {
  background-color: white;
  padding: 0 1rem;
  // width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 1rem;

  @include respond(desktop) {
    // width: 100%;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  form {
    @include respond(desktop) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  & input {
    width: 90%;
    // padding-left: 5%;
    // margin: auto;
  }

  input::placeholder {
    font-weight: bold;
  }
}

.btn {
  padding: 1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include respond(desktop) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

.large {
  width: 100%;
  line-height: 160%;

  span {
    font-weight: bold;

    @include respond(desktop) {
      // width: 100%;
      padding-right: 3px;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.green {
  background-color: $green;
  border-radius: 5px;
}

.tandc {
  font-size: 0.8rem;
  color: $grayish-blue;
  text-align: center;
  padding: 0 1rem;
  line-height: 140%;

  span {
    color: red;
    font-weight: bold;
  }
}
