@import 'base/reset';
@import 'base/colours';
@import 'base/typography';
@import 'components/buttons';
@import 'components/form';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/bg-intro-mobile.png');
  background-color: $red;
  color: white;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.box-one {
  margin: 80px 0 60px 0;
}