$greenish-blue: hsl(192, 37%, 48%);
$dark-purple: hsl(268, 34%, 53%);
$light-purple: hsl(268, 34%, 53%);
$white: hsl(0, 0%, 98%);
$light-blue: hsl(192, 90%, 77%);
$grey: hsl(240, 10%, 57%);
$blackish-purple: hsl(240, 21%, 20%);
