@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  width: 100%;
  margin: auto;

  @include respond(desktop) {
    font-size: 24px;
  }
}

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-blue: hsl(207, 100%, 98%);
}

// Header

.header {
  display: flex;
  flex-direction: columns;
  height: 9vh;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  &-image {
    width: 50%;
  }
}

// Helpers

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--pink);
  border-radius: 2rem;
  background: white;
  color: var(--pink);
}

.primary {
  background: var(--pink);
  color: white;
  padding: 0.5rem 2rem;
}

.hero {
  margin: auto;
  position: relative;
  min-height: fit-content;
  height: 80vh;
  padding: 4rem 2rem;

  p {
    @include respond(desktop) {
      width: 50%;
      font-size: 1.2rem;
      padding: 3rem 0;
    }
  }

  button {
    @include respond(desktop) {
      font-size: 1.2rem;
      margin-bottom: 4rem;
    }
  }

  img {
    width: 90%;
    height: 40%;

    @include respond(desktop) {
      width: 40%;
      height: 60%;
    }
  }
}

.flex {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-reverse {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;

  @include respond(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

// container and community

.container {
  width: 100%;
  min-height: 50vh;
  padding: 2rem 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  width: 70%;

  @include respond(desktop) {
    width: 40%;
    align-items: center;
  }

  img {
    align-self: flex-start;
    width: 30%;

    @include respond(desktop) {
      width: 3rem;
      align-self: center;
    }
  }

  h1 {
    font-size: 4rem;
  }
}

// section

.section {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  padding: 3rem 0;

  @include respond(desktop) {
    flex-direction: row;
    padding: 3rem 7rem;
  }

  img {
    width: 80%;

    @include respond(desktop) {
      width: 40%;
    }
  }
}

.card-box {
  padding: 0 2rem;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include respond(desktop) {
    text-align: left;
  }

  p {
    @include respond(desktop) {
      padding-top: 4rem;
      width: 80%;
    }
  }
}

.blue {
  background: var(--pale-blue);
  position: relative;
}

.curve-top:before {
  content: "";
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 112px;
  width: 100%;
  top: calc(112px - 25vh);

  @include respond(desktop) {
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    top: -200px;
  }
}

.curve-top:after {
  content: "";
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 112px;
  width: 100%;
  bottom: calc(112px - 25vh);

  @include respond(desktop) {
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    bottom: -200px;
  }
}

.curve-bottom:before {
  content: "";
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 112px;
  width: 100%;
  top: calc(112px - 25vh);

  @include respond(desktop) {
    background-image: url("../images/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    top: -200px;
  }
}

.curve-bottom:after {
  content: "";
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 112px;
  width: 100%;
  bottom: calc(112px - 25vh);

  @include respond(desktop) {
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    bottom: -200px;
  }
}

.section.large {
  padding-bottom: 6rem;
  flex-direction: row-reverse;

  @include respond(desktop) {
    padding-bottom: 18rem;
    padding-top: 18rem;
  }
}

.section.large .card-box {
  @include respond(desktop) {
    text-align: right;
  }

  p {
    @include respond(desktop) {
      padding-right: 0;
      width: 80%;
      align-self: flex-end;
    }
  }
}

// community

.community {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: inherit;
  padding: 30% 2rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  @include respond(desktop) {
    padding: 14rem 2rem;
  }

  h2 {
    text-transform: capitalize;
  }
}

footer {
  background: hsl(192, 100%, 9%);
  min-height: 70vh;
  position: relative;
}

footer.container {
  @include respond(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

footer:before {
  content: "";
  background: url("../images/bg-footer-top-mobile.svg");
  position: absolute;
  height: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  top: -3.5rem;

  @include respond(desktop) {
    background: url("../images/bg-footer-top-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    top: -190px;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;

  @include respond(desktop) {
    width: 40%;
  }

  h3 {
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: white;
  }

  p {
    color: white;
    padding-bottom: 2rem;
    font-size: 1rem;

    @include respond(desktop) {
      width: 60%;
    }
  }

  input {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  button {
    margin-top: 1rem;
  }

  img {
    width: 60%;
    height: 2rem;
    margin-bottom: 2rem;

    @include respond(desktop) {
      width: 30%;
    }
  }
}

.right {
  align-self: flex-end;
}

.rounded-small {
  border-radius: 5px;
}

.contact {
  display: flex;
  flex-direction: column;

  &-divider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: auto;
      margin-bottom: auto;
      // text-align: center;
      margin-right: 1rem;
    }

    span {
      color: white;
    }
  }
}

.social {
  padding-top: 2rem;
}

.social ul {
  display: flex;
}
.social ul li {
  list-style: none;
  margin-right: 1rem;
}

.fa {
  color: white;
  font-size: 30px;
}
