/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Red Hat Display", sans-serif; }

.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.header img {
  width: 119px;
  height: 28px; }

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-top: 30px; }

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px; }
  .hero-text h1 {
    padding: 40px;
    font-size: 2.5rem;
    text-align: center; }
  .hero-text p {
    text-align: center;
    line-height: 25px;
    color: #86869c; }

.hero-image {
  background-image: url("../assets/tablet/image-hero.png");
  width: 100vw;
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover; }

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn {
  width: 139px;
  height: 58px;
  margin-top: 15px;
  border-radius: 30px;
  color: #fafafa;
  background-color: #845eb0;
  border: none; }
  .btn span {
    color: #fafafa;
    opacity: 0.7; }

.btn.large {
  width: 193px; }

.green {
  background-color: #4d96a8; }

.divider {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #87879d;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
  color: #87879d;
  margin-top: 9.25rem;
  background: white;
  margin-bottom: -1rem; }

.divider::before {
  content: "";
  position: absolute;
  top: -84px;
  left: 50%;
  width: 1px;
  height: 84px;
  background-color: #87879d; }

.section {
  margin: 0 auto;
  width: 100vw; }

.description-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  width: 90vw;
  position: relative; }

.description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.description-gallery img {
  height: 143px;
  width: 151px;
  border-radius: 12px; }

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; }
  .description-text h5 {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #4d96a8; }

h2 {
  padding: 20px;
  font-size: 1.8rem;
  text-align: center; }

p {
  color: #86869c;
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 25px;
  text-align: center; }

.footer {
  height: 428px;
  width: 100vw;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
  color: #fafafa;
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; }
  .footer p {
    color: white;
    padding: 20px; }

.footer::after {
  content: "";
  background-color: #4d96a9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1; }
