/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Red Hat Display", sans-serif; }

.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.header img {
  width: 119px;
  height: 28px; }

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-top: 30px; }
  @media only screen and (min-width: 110em) {
    .hero {
      height: 500px;
      flex-direction: row; } }

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px; }
  @media only screen and (min-width: 110em) {
    .hero-text {
      margin: 10px 0px; } }
  .hero-text h1 {
    padding: 40px;
    font-size: 2.5rem;
    text-align: center; }
    @media only screen and (min-width: 110em) {
      .hero-text h1 {
        font-size: 5rem;
        width: 55%; } }
  .hero-text p {
    text-align: center;
    line-height: 25px;
    color: #86869c; }
    @media only screen and (min-width: 110em) {
      .hero-text p {
        width: 70%; } }

.hero-image {
  background-image: url("../assets/tablet/image-hero.png");
  width: 100vw;
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 110em) {
    .hero-image {
      display: none; } }

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 110em) {
    .btn-group {
      flex-direction: row;
      gap: 20px; } }

.btn {
  width: 139px;
  height: 58px;
  margin-top: 15px;
  border-radius: 30px;
  color: #fafafa;
  background-color: #845eb0;
  border: none; }
  .btn span {
    color: #fafafa;
    opacity: 0.7; }

.btn:hover {
  opacity: 0.5; }

.btn.large {
  width: 193px; }

.green {
  background-color: #4d96a8; }

.divider {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #87879d82;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
  color: #86869c;
  margin-top: 9.25rem;
  background: white;
  margin-bottom: -1rem; }

.divider::before {
  content: "";
  position: absolute;
  top: -84px;
  left: 50%;
  width: 1px;
  height: 84px;
  background-color: #86869c;
  opacity: 0.4; }

.section {
  margin: 0 auto;
  width: 100vw; }

.description-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  width: 90vw;
  position: relative; }
  @media only screen and (min-width: 110em) {
    .description-gallery {
      justify-content: center; } }

.description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.description-gallery img {
  height: 143px;
  width: 151px;
  border-radius: 12px; }
  @media only screen and (min-width: 110em) {
    .description-gallery img {
      width: 255px;
      height: 242px; } }

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; }
  @media only screen and (min-width: 110em) {
    .description-text {
      width: 31vw; } }
  .description-text h5 {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #4d96a8; }

h2 {
  padding: 20px;
  font-size: 1.8rem;
  text-align: center; }
  @media only screen and (min-width: 110em) {
    h2 {
      font-size: 2rem;
      padding: 2rem 0px; } }

p {
  color: #86869c;
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 25px;
  text-align: center; }
  @media only screen and (min-width: 110em) {
    p {
      line-height: 35px; } }

.footer {
  height: 428px;
  width: 100vw;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fafafa;
  position: relative;
  padding-top: 20px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media only screen and (min-width: 110em) {
    .footer {
      height: 308px;
      justify-content: center;
      text-align: left;
      background-image: url("../assets/desktop/image-footer.jpg"); } }
  @media only screen and (min-width: 110em) {
    .footer div {
      display: flex;
      flex-direction: row;
      width: 70vw;
      align-items: center;
      justify-content: space-between; } }
  .footer p {
    color: white;
    padding: 20px; }
    @media only screen and (min-width: 110em) {
      .footer p {
        text-align: left;
        width: 30%; } }
  @media only screen and (min-width: 110em) {
    .footer h2 {
      text-align: left;
      font-size: 3rem;
      width: 30%; } }
  .footer.btn {
    align-self: flex-end;
    width: 30%; }

.footer::after {
  content: "";
  background-color: #4d96a9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1; }

.hero-image-left .hero-image-right {
  display: none; }

@media only screen and (min-width: 110em) {
  .hero-image-left {
    background-image: url("../assets/desktop/image-hero-left.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    margin-left: -75px; } }

@media only screen and (min-width: 110em) {
  .hero-image-right {
    background-image: url("../assets/desktop/image-hero-right.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw; } }
